<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaowo.dao.DepartmentDao">
    <resultMap id="depMap" type="com.xiaowo.Department">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="department" jdbcType="VARCHAR" property="department"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>

    <select id="findDepartments" resultMap="depMap">
        select * from department where status='1'
    </select>

</mapper>