<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaowo.dao.TagDao">
    <resultMap id="tagMap" type="com.xiaowo.Tag">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="tag" jdbcType="VARCHAR" property="tag"/>
        <result column="reference_count" jdbcType="INTEGER" property="referenceCount"/>
    </resultMap>

    <select id="findTagById" resultMap="tagMap">
        select * from cms_tag where id=#{id}
    </select>
</mapper>