<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaowo.dao.ZoneDao">
    <resultMap id="zoneMap" type="com.xiaowo.Zone">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="zone" jdbcType="VARCHAR" property="zone"/>
    </resultMap>

    <select id="findZones" resultMap="zoneMap">
        select * from cms_city
    </select>

</mapper>